* {
    box-sizing: border-box;
}

body {
    font-family: Lato, Arial;
    color: #fff;
    padding: 20px;
    background-color: #00dcff;
}

h1 {
    text-align: center;
    font-size: 25px;
}

.menu-container {
    float: left;
    display: inline-block;
}

.menu {
    list-style: none;
    width: 150px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 220px;
    height: 40px;
}

.menu .selected {
    border: 1px solid #a7ebff;
    display: inline-block;
    width: 100%;
    position: relative;
    background-color: #2bb6e0;
    padding: 12px 0;
    text-indent: 15px;
    transition: all 0.5s ease-in;
}

.menu .selected.expanded:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    right: 10px;
    top: 9px;
    border-color: transparent transparent #fff transparent;
}

.menu .selected:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.menu .sub-list {
    width: 100%;
    display: none;
    list-style: none;
    padding: 0;
    background: #2bb6e0;
}

.menu .sub-list li {
    border-bottom: 1px solid #a7ebff;
    transition: all 0.15s ease-in;
    padding: 12px 0;
    text-indent: 15px;
}

.menu .sub-list.show {
    display: block;
}

.option {
    list-style: none;
}

li.option:hover {
    background: #fff;
    color: #21dac9;
}